<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>About Yiming Zhang</h1>
        <br><br>
        <h5>Yiming Zhang is a Brandeis undergrad student learning Economics and Computer Science. </h5>

    </div>

    <h1>Education</h1>
    <p>Bachelor of Art in Economics and Computer Science, 2022, <a href="http://www.brandeis.edu">Brandeis University</a></p>

    <h1>Contact</h1>
    <ul>
      <li>Email: yimingzhang@brandeis.edu</li>
      <li>Address: Unit 207, 20 Cooper St</li>
    </ul>


<%- include('bootfooter') -%>
