<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron">
    <h2>How much water do you need every day?</h2>
     <p>
      People can survive for several weeks without food, but if people don't drink,
      they can only survive for four to seven days, which is related to environmental conditions.
      Each of US adults must drink 6 to 8 glasses of water (about 1.5 to 2 liters) every day to supplement the water we lose in our daily activities.
      However, for people of different weights and different types of work, the amount of drinking water
      is also different every day. Adults and infants also need different amounts of water.
      Infants have a higher proportion of water than adults, so they need to drink more water to meet their hydration needs.
      <hr>
      According to the formula recommended by the Sports Medicine Institute for the calculation of the average daily water consumption of workers with different weights and occupations, the following relationships can be obtained after conversion:
      1) Brain workers, because they work in the office all day and sweat less, drink about 0.0326 times
      of their weight every day, and their weight is in kg, The amount of drinking water is in L.
      For example, a 60 kg mental worker should drink about 1.96 l per day.
      2) Physical workers, or people who regularly exercise in their spare time,
      drink about 0.0434 times of their body weight every day.
      The weight is calculated in kg, and the water consumption is measured in L.
      For example, a 60 kg manual worker should drink about 2.6 l per day.
      If you live in a dry area, or in a hot season, you should drink more water.
      If you are going to take part in marathon and major sports events and
      are in the process of strict training, of course, you should increase the amount
      of drinking water. Although some fruits or fruit juices and beverages (including soda, coffee, tea, etc.)
      can also be used as supplements, it is recommended to avoid excessive consumption of sugary and caffeinated beverages for health reasons.
      <hr>
    </p>

</div>

<%- include('bootfooter') -%>
