<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Your Water Consumption</h1>
        <p>Here is your water consumption based on the information you provided</p>
    </div>

    You drink <%= finalscore %>ml water today.<br>
    Please make sure that you record this infomation to your water profile!

    <hr>
    <a href="/score">Calculate again</a>


<%- include('bootfooter') -%>
