<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="col bg-warning text-white">
    <h1>
    Please fill in the form to calculate your daily water intake quantity
    </h1><br><br>
    </div>
<br>
<br>
<form method="post" action="/calcwater" class="bg-info">
  Are you a brain worker or physical worker?
  <select name="worker">
    <option>Brainworker</option>
    <option>Physicalworker</option>
  </select><br>
       What is your current weight (kg) <input type="text" name="weight"> <br>
   <br><hr>
   <h5>Your health:</h5>
   Are you having any an infection, fever or taking medications like diuretics that can make you lose water?
   <select name="needmore">
     <option>Yes</option>
     <option>No</option>
   </select><br>
   Are you having certain health conditions, such as thyroid disease or kidney, liver,
   or heart problems; or if you're taking medications that make you retain water,
   such as non-steroidal anti-inflammatory drugs (NSAIDs),
   opiate pain medications, and some antidepressants.
   <select name="needless">
     <option>Yes</option>
     <option>No</option>
   </select><br>

   Pregnant or breastfeeding?
   <select name="pregnant">
     <option>Yes</option>
     <option>No</option>
   </select><br>
  <input type="submit" value="calculate">
</form>

<hr>


<%- include('bootfooter') -%>
